body {
  margin: 15px;
  font-size: 18px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.names {
  font-weight: 700;
}
ul{
    list-style: none;
}
